<div class="text-center">
    ViewData: @ViewData["text"]
    <br />
    TempData: @TempData["veri"]
    <br />
    @Html.DropDownList("dersler") @* // ViewBag ile gelen dersler selectlistitem ını html helper aracılığıyla dropdownlistin kaynağı olarak ekledik. *@
</div>