<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _09_Render_Nested_Section</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_09_Render_Nested_Section.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- 
                Render Nested Section sayesinde dinamik olarak layouta içerik ekleme durumunu sağlayabiliyoruz.
                Section'a verdiğimiz ilk parametre ismi (bu isimle viewde set edilir). İkinici parametre ise
                sectionın zorunlu olarak set edilip edilmeyeceği durumudur.

        -->
        @RenderSection("Section2", false)
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - _09_Render_Nested_Section - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @RenderSection("Section1", false)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
