@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout"; // İlgili sayfa için layout olsun
}

<div class="text-center">
    <h1 class="display-4">Anasayfa</h1>
    @Html.Partial("_PartialCategory");
</div>
